:root {
  --primary-color: #ef5f9a;
  --secondary-color: #9771f3;
  --tertiary-color: #6fdae7;
  --background-colour: #ffffff;
  --box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
  --font-weight: 600;
}
body {
  margin: 50px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
  font-weight: var(--font-weight);
  line-height: 1.2;
}
hr {
  border: none;
  border-top: 3px double var(--primary-color);
  color: var(--secondary-color);
  overflow: visible;
  text-align: center;
  height: 5px;
}

hr:after {
  background: #fff;
  content: "§";
  padding: 0 4px;
  position: relative;
  top: -13px;
}

.exclaimation,
.name,
.shecodes-profile {
  background: linear-gradient(45deg, #ef5f9a, #9771f3, #6fdae7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1 {
  font-size: 75px;
}
h2 {
  font-size: 42px;
}
.email-link,
.shecodes-projects,
#arrow-homepage,
.about-arrow {
  font-size: 33px;
  text-decoration: none;
  font-weight: var(--font-weight);
  background: linear-gradient(45deg, #ef5f9a, #9771f3, #6fdae7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#about-name {
  font-size: 50px;
}
.about-title {
  font-size: 25px;
}
#arrow-about,
#project-link {
  font-size: 25px;
  font-weight: bolder;
}
.about-me-paragraph {
  margin-bottom: 0;
}
@media (max-width: 576px) {
  body {
    text-align: center;
  }
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: 0;
  }
  .email-link,
  #arrow-homepage {
    margin-top: 0;
  }
}
